grant
{
        permission java.net.SocketPermission "*:1024-65535", "connect";
        permission java.net.SocketPermission "*:80-83", "connect";
        permission java.util.PropertyPermission "user.dir", "read";
        permission java.util.PropertyPermission "user.home", "read";
        permission java.lang.RuntimePermission "*";
        permission java.util.PropertyPermission "java.class.path", "read";
        permission java.io.FilePermission "<<ALL FILES>>", "read";
        permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
};
